<%= form_for(@adult) do |f| %>
  <% if @adult.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adult.errors.count, "error") %> prohibited this adult from being saved:</h2>

      <ul>
      <% @adult.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :family_id %><br />
    <%= f.select :family_id, Family.all.collect{|u|[u.last_name, u.id]} %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :drive %><br />
    <%= f.check_box :drive %>
  </div>
  <div class="field">
    <%= f.label :driver_license %><br />
    <%= f.text_field :driver_license %>
  </div>
  <div class="field">
    <%= f.label :seats %><br />
    <%= f.number_field :seats %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
